@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

.tagNameContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
}

.logementTitle {
  color: $primary-color;
  font-weight: 300;
}

.logementTitleContainer {
  margin: 1rem;
}

.logementLocalisation {
  color: $primary-color;
  font-weight: 300;
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.profileName {
  color: $primary-color;
  width: 80px;
}

.profilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.profilePictureContainer {
  display: flex;
  align-items: center;
}