@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';
@import '../../SASS/base/typography';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.error__image {
  position: relative;
  object-fit: fill;
  height: 100px;
  width: 200px;
}

.error__text, .error__link{
  color: $primary-color;
  font-family: $main-font;
}

.error__text {
  font-size: 23px;
  width: 260px;
}

.error__link {
  text-decoration: underline;
  color: $primary-color;
  font-size: 14px;
  width: 220px;
}

@include forTablet {
  .error__image {
    height: 180px;
    width: 400px;
  }
  .error__image_container {
    height: 260px;
    width: 400px;
  }

  .error__text {
    width: 500px;
  }

  .error {
    height: 500px;
  }
}

@include forDesktop {
  .error__image {
    height: 260px;
    width: 600px;
  }
  .error__image_container {
    height: 260px;
    width: 600px;
  }

  .error__text {
    width: 800px;
    font-size: 36px;
  }

  .error {
    height: 500px;
  }
}