@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

.banner {
  position: relative;
  @include flex;
  min-width: 335px;
  height: 120px;
  overflow: hidden;
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* Element */
.banner__image {
  position: relative;
  object-fit: cover;
  min-width: 100%;
  border-radius: 1rem;
  background-size: cover;
  margin-bottom: 2rem;
  filter: brightness(60%);
}

/* Element */
.banner__text {
  position: absolute;
  font-family: $main-font;
  top: 10;
  left: 0;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  color: $secondary-color;
  width: 200px;
  margin-left: 1rem;
}

/* Modifier for mobile */
@include forMobile {
  .banner__text {
    min-width: 400px;
  }
}

/* Modifier for large mobile */
@include forLargeMobile {
  .banner__text {
    min-width: 400px;
    top: initial;
    left: initial;
    text-align: center;
  }
}

/* Modifier for tablet */
@include forTablet {
  .banner {
    height: 140px;
  }

  .banner__text {
    font-size: 26px;
    min-width: 400px;
  }
}

/* Modifier for desktop */
@include forDesktop {
  .banner {
    height: 200px;
  }

  .banner__text {
    font-size: 32px;
    min-width: 500px;
  }
}