@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 335px;
  margin: 1rem;
  &__desktop {
    display: none;
  }
}

.header__logo {
  width: 170px;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: $primary-color;
  font-weight: 400;
  font-size: 14px;
  font-family: $main-font;
  & a.active {
    text-decoration: underline;
  }
  & a{
    color: $primary-color;
    text-decoration: none;
  }
}

@include forTablet {
 .header {
  margin: 2rem 5rem 2rem 5rem ;
 }
}

@include forDesktop {
  .header__desktop {
    display: block;
    font-size: large;
  }

  .header__mobile {
    display: none;
  }
}

