@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

@include forMobile {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 1rem 4rem 1rem;
    border-radius: 10px;
  }
}

@include forLargeMobile {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $tertiary-color;
    margin: 4rem 1rem 4rem 1rem;
    border-radius: 10px;
  }
}

@include forDesktop {
  .body__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $tertiary-color;
    margin: 4rem 1rem 4rem 1rem;
    border-radius: 10px;
  }
}

@include forLargeDesktop {
  .body__cards {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px; 
    padding: 50px 50px;
  }
}