@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

.footer {
  position: relative;
  @include flex;
  background-color: $footer-color;
  min-height: 209px;
}

.footer__img {
  position: relative;
  @include flex;
}

.footer__p {
  position: absolute;
  color: $secondary-color;
  font-family: $main-font;
  bottom: 10px;
  width: 150px;
  @include flex;
  padding-left: 2rem;
}

@include forMobile {
  .footer__p {
    width: 300px;
    padding-left: 0;
  }
}