@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin forMobile {
  @media (min-width:376px){
    @content;
  }
}

@mixin forLargeMobile {
  @media (min-width:480px){
    @content;
  }
}

@mixin forTablet {
  @media (min-width:768px){
    @content;
  }
}

@mixin forDesktop {
  @media (min-width:1024px){
    @content;
  }
}

@mixin forLargeDesktop {
  @media (min-width:1515px){
    @content;
  }
}