$main-font:"Montserrat", sans-serif;

$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #e6e4e4c5;

$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(#ff6060, rgb(138, 46, 46));

