@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';
@import '../../SASS/base/typography';


.card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 335px;
  height: 300px;
  margin: 1rem;
  border-radius: 10px;
  filter: brightness(75%);
}

.cardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-family: $main-font;
}

.cardTitle {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 2rem;
  width: 5rem;
  color: $secondary-color;
  z-index: 1;
  width: 300px;
  height: 50px;
  font-family: $main-font;
  font-size: large;
}

.card:hover {
  cursor: pointer;
  filter: saturate(100%);
}
