@import '../../SASS/utilities/variables.scss';
@import '../../SASS/utilities/mixins.scss';

.tag {
@include flex;
background: $primary-color;
color: $secondary-color;
font-family: $main-font;
width: 90px;
height: 30px;
border-radius: 5px;
font-size: small;
}

@include forTablet {
  .tag{
    width: 200px;
  }
}